{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "node": true,
        "jasmine": true,
        "es6": true
    },
    "rules": {
        "no-unsafe-negation": "error",
        "accessor-pairs": "error",
        "array-callback-return": "error",
        "block-scoped-var": "error",
        "consistent-return": "error",
        "curly": "error",
        "dot-notation": "error",
        "eqeqeq": ["error", "smart"],
        "guard-for-in": "error",
        "no-alert": "error",
        "no-caller": "error",
        "no-else-return": "error",
        "no-empty-function": "error",
        "no-empty-pattern": "error",
        "no-eq-null": "error",
        "no-eval": "error",
        "no-extend-native": "error",
        "no-extra-bind": "error",
        "no-fallthrough": "error",
        "no-floating-decimal": "error",
        "no-global-assign": "error",
        "no-implicit-globals": "error",
        "no-invalid-this": "error",
        "no-labels": "error",
        "no-lone-blocks": "error",
        "no-loop-func": "error",
        "no-multi-spaces": "error",
        "no-multi-str": "error",
        "no-new-func": "error",
        "no-new-wrappers": "error",
        "no-new": "error",
        "no-proto": "error",
        "no-param-reassign": "error",
        "no-return-assign": "error",
        "no-self-compare": "error",
        "no-sequences": "error",
        "no-throw-literal": "error",
        "no-unmodified-loop-condition": "error",
        "no-unused-expressions": ["error", { "allowTernary": true }],
        "no-useless-call": "error",
        "no-useless-concat": "error",
        "no-void": "error",
        "no-with": "error",
        "vars-on-top": "error",
        "wrap-iife": ["error", "inside"],
        "yoda": "error",
        "no-catch-shadow": "error",
        "no-undef": ["error", { "typeof": true }],
        "no-undefined": "error",
        "no-use-before-define": "error",

        "array-bracket-spacing": ["error", "never"],
        "block-spacing": ["error", "never"],
        "brace-style": "error",
        "camelcase": "error",
        "comma-dangle": ["error", "never"],
        "comma-spacing": ["error", { "before": false, "after": true }],
        "comma-style": ["error", "last"],
        "computed-property-spacing": ["error", "never"],
        "eol-last": "error",
        "func-call-spacing": ["error", "never"],
        "indent": ["error", 4],
        "key-spacing": "error",
        "keyword-spacing": ["error", { "before": true }],
        "new-cap": "error",
        "new-parens": "error",
        "newline-after-var": "error",
        "newline-before-return": "error",
        "no-array-constructor": "error",
        "no-inline-comments": "error",
        "no-lonely-if": "error",
        "no-multiple-empty-lines": ["error", {"max": 1}],
        "no-nested-ternary": "error",
        "no-new-object": "error",
        "no-trailing-spaces": "error",
        "no-unneeded-ternary": "error",
        "no-whitespace-before-property": "error",
        "object-curly-spacing": ["error", "never"],
        "one-var": ["error", { var: "always", let: "always", const: "never" }],
        "operator-assignment": ["error", "always"],
        "operator-linebreak": ["error", "after"],
        "padded-blocks": ["error", "never"],
        "quote-props": ["error", "as-needed"],
        "quotes": ["error", "single"],
        "semi-spacing": "error",
        "semi": ["error", "always"],
        "space-before-blocks": "error",
        "space-before-function-paren": ["error", { "anonymous": "always", "named": "never" }],
        "space-in-parens": ["error", "never"],
        "space-infix-ops": "error",
        "space-unary-ops": "error",

         "require-jsdoc": ["error", {
            "require": {
                "FunctionDeclaration": true,
                "MethodDefinition": true,
                "ClassDeclaration": false
            }
        }],

        "valid-jsdoc": ["error", {
            "prefer": {
                "return": "returns"
            },
            "requireReturn": false,
            "requireParamDescription": true,
            "requireReturnType": true,
            "requireReturnDescription": false,
            "matchDescription": ".+"
        }],


        "lines-around-comment": [
            "error",
            {
                "beforeBlockComment": true,
                "allowBlockStart": true
            }
        ],
        "max-depth": ["error", 2],
        "max-len": ["error", 120, 4],
        "max-nested-callbacks": ["error", 3],
        "no-extra-parens": "error",
        "no-implied-eval": "error",
        "no-shadow": "error",
        "no-undef-init": "error",
        "radix": "error",
        "strict": "error",

        "arrow-spacing": ["error", {"before": true, "after": true}],
        "no-duplicate-imports": "error",
        "no-useless-computed-key": "error",
        "no-useless-constructor": "error",
        "no-useless-rename": "error",
        "no-var": "error",
        "object-shorthand": ["error", "always"],
        "prefer-arrow-callback": "error",
        "prefer-spread": "error",
        "rest-spread-spacing": ["error", "never"],
        "template-curly-spacing": ["error", "always"]
    }
}
