{
    "parser": "babel-eslint",
    "plugins": [
        "babel",
        "import"
    ],
    "env": {
        "browser": true,
        "node": true,
        "jasmine": true,
        "es6": true
    },
    "ecmaFeatures": {
        "modules": true
    },
    "rules": {
        "comma-dangle": ["error", "never"],
        "no-cond-assign": ["error", "always"],
        "no-constant-condition": "error",
        "no-unused-vars": "error",
        "consistent-return": "error",
        "eqeqeq": ["error", "smart"],
        "guard-for-in": "error",
        "lines-around-comment": [
            2,
            {
                "beforeBlockComment": true,
                "allowBlockStart": true
            }
        ],
        "max-depth": ["error", 2],
        "max-len": ["error", 120, 4],
        "max-nested-callbacks": ["error", 3],
        "newline-after-var": "error",
        "no-alert": "error",
        "no-array-constructor": "error",
        "no-caller": "error",
        "no-catch-shadow": "error",
        "no-debugger": "error",
        "no-else-return": "error",
        "no-eval": "error",
        "no-ex-assign": "error",
        "no-extend-native": "error",
        "no-extra-bind": "error",
        "no-extra-boolean-cast": "error",
        "no-extra-parens": "error",
        "no-extra-semi": "error",
        "no-fallthrough": "error",
        "no-floating-decimal": "error",
        "no-func-assign": "error",
        "no-implied-eval": "error",
        "no-inner-declarations": "error",
        "no-invalid-regexp": "error",
        "no-lone-blocks": "error",
        "no-lonely-if": "error",
        "no-loop-func": "error",
        "no-multi-str": "error",
        "no-native-reassign": "error",
        "no-negated-in-lhs": "error",
        "no-new-object": "error",
        "no-proto": "error",
        "no-redeclare": "error",
        "no-regex-spaces": "error",
        "no-return-assign": "error",
        "no-self-compare": "error",
        "no-shadow": "error",
        "no-undef": "error",
        "no-undef-init": "error",
        "no-unreachable": "error",
        "no-with": "error",
        "operator-assignment": [2, "always"],
        "radix": "error",
        "semi": ["error", "always"],
        "semi-spacing": "error",
        "strict": "error",
        "use-isnan": "error",
        "valid-typeof": "error",
        "vars-on-top": "error",

        arrow-spacing: ["error", {"before": true, "after": true}],
        "constructor-super": "error",
        "no-class-assign": "error",
        "no-const-assign": "error",
        "no-dupe-class-members": "error",
        "no-duplicate-imports": "error",
        "no-new-symbol": "error",
        "no-this-before-super": "error",
        "no-useless-computed-key": "error",
        "no-useless-constructor": "error",
        "no-useless-rename": "error",
        "no-var": "error",
        "object-shorthand": ["error", "always"],
        "prefer-arrow-callback": "error",
        "prefer-spread": "error",
        "rest-spread-spacing": ["error", "never"],
        "template-curly-spacing": ["error", "always"]
    }
}